html{
    scroll-behavior: smooth;
}

body{
  background-color: #00274c;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 24px;
  line-height: 1.5;
  padding: 10px 0;
  text-align: center;
}

h3{
  font-size: 20px;
  line-height: 1.5;
  padding: 10px 0;
  text-align: left;
}

a{
  color: white;
  text-decoration: none;
}

a.current
{
  background: rgba(255, 255, 255, .3);
  color:#ffcb05;
}

a:hover{
  text-decoration: underline;
}

nav a{
  color: #ffcb05;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: rgba(255, 255, 255, .8);
  color: black;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top: 0px;
}

:focus{
  outline: 2px solid black;
}

p{
  font-size: 20px;
  padding: 5px 0;
  text-align: left;
}

.nav{
  background-color: #00274c;
  vertical-align: center;
  color: #ffcb05;
  padding: 20px 0;
  text-align: left;
}

header{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 500px;
}

.text-block{
  align-self: center;
  color: white;
  padding: 30px;
  background-color: rgba(255, 255, 255, .6);
  border: 5px solid black;
}

.photo-gallery{
  width: 850px;
}
.photo-gallery img {
opacity: .9;
}
.photo-gallery img:hover{
  opacity: 1;
}

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}

footer p{
  text-align: center;
}

footer img{
  display: inline-block;
}

@media screen and (min-width: 800px){

  .container{
    /* display: grid; */
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    color: black;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;
    transition: none !important;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
